<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Holger Sitat</title>
</head>

<body>
  <header style="background-color: #23004C;">
    <div style="max-width: 700px; margin: 0 auto;">
      <img src="/static/logga-white-trans.png" alt="Logga">
      <h1 style="color: white;">Citat</h1>
    </div>
  </header>
  <div style="max-width: 700px; margin: 0 auto;">
    {{template "content" .}}
  </div>

</body>

</html>