<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Holger Sitat</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body class="bg-gray m-0">
  <header class="bg-purple text-center fixed" style="top: 0; left: 0; right: 0;">
    <a class="page-width mx-auto flex justify-center" href="/">
      <div class="inline-block pb-2 pt-2">
        <img src="/static/logga-white-trans.png" alt="Logga" style="width: 139px; height: 75px;">
      </div>
      <h1 class="inline-block text-white" style="margin-left: 8px;"> - Citat</h1>
    </a>
  </header>
  <main class="mx-auto bg-white page-width p-3" style="margin-top: 95px;">
    {{template "content" .}}
  </main>

</body>

</html>