{{define "content"}}
  <div class="fixed bg-white page-width w-1/1 text-center text-purple" style="margin-top: -16px; padding-top: 16px">
    <a class="text-bold" style="font-size: 24px;" href='{{call .Join .Hosting "ny" }}'>Citera någon</a>  
    <hr>
  </div>
  <div style="margin-top: 50px;">
    {{range .Quotes}}
    <div class="bg-purple-light rounded p-1 mb-3">
      <pre>{{.Quote}}</pre>
      <div class="flex justify-between text-small">
        <span>
          {{.Where}} ({{.Who}})
        </span>
        <span>
          {{.When.Format "2006-01-02"}}
        </span>
      </div>
    </div>
    {{end}}
  </div>
{{end}}