{{define "content"}}
  <form action="/ny" method="POST" autocomplete="off">
    <div>
      <label for="quote">Citatet</label>
      <textarea style="max-width: 100%;" id="quote" name="quote" rows="5"></textarea>
    </div>

    <div>
      <label for="who">Vem sa det?</label>
      <input id="who" name="who">
    </div>

    <div>
      <label for="where">Var hände det?</label>
      <input id="where" name="where">
    </div>

    <div>
      <button>Publicera</button>
    </div>
  </form>
{{end}}
