{{define "content"}}
  <style>
    main {
      box-sizing: border-box;
      height: calc(100vh - 95px);
    }
  </style>
  <form class="form-box mx-auto" action='{{call .Join .Hosting "ny"}}' method="POST" autocomplete="off">
    <div class="pb-2">
      <label for="quote">Citatet</label>
      <textarea id="quote" name="quote" rows="5" required></textarea>
    </div>

    <div class="pb-2">
      <label for="who">Vem sa det?</label>
      <input id="who" name="who" required>
    </div>

    <div class="pb-3">
      <label for="where">Var hände det?</label>
      <input id="where" name="where" required>
    </div>

    <div class="pb-3">
      <button>Publicera</button>
    </div>
  </form>
{{end}}
